.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.smallInput {
	width: 2.7rem;
}

