body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  outline: grey solid 1px;
  float: left;
  font-size: 84px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding-bottom: 16px;
  text-align: center;
  height: 5rem;
  width: 5rem;
}

@media (max-width: 482px) {
  .square {
    width: 2rem;
    height: 2rem;
    line-height: 21px;
    font-size: 30px;
    padding-bottom: 8px;
  }   
}

.square:focus {
  outline: darkgrey solid 1px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
